$color-bg-start: #CDE0C9;
$color-bg-end: #2C6975;
$glass-bg: rgba(255, 255, 255, 0.05);
$glass-border: rgba(255, 255, 255, 0.326);
$white: #ffffff;
$Black: #000000;


// Variables
$background-color: #ffffff;
$text-color: #000000;
$input-border-color: #4c4b4b;
$button-bg: #171717;
$button-text: #ffffff;


// variables nav
$transition-duration: 0.6s;
$transition-ease: ease-out;

// testimonials
$color-bg: #000;
$color-text: #fff;
$color-text-secondary: #777;
